<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <h1>Estadísticas</h1>
          <div class="panel panel-data">
            <div class="panel-heading">
              <h4>Hola, <span id="username"><%= @current_user.username %></span>. Éstas son tus estadísticas:</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-stats col-md-2">
                    <label for="day">Día:</label>
                    <input type="number" class="form-control" id="dayParam" value="20">
                  </div>
                  <div class="form-group form-stats col-md-2">
                    <label for="month">Mes:</label>
                    <input type="number" class="form-control" id="monthParam" value="2">
                  </div>
                  <div class="form-group form-stats col-md-2">
                    <label for="year">Año:</label>
                    <input type="number" class="form-control" id="yearParam" value="2015">
                  </div>
                  <div class="form-group form-stats col-md-3">
                    <label for="mode">Medida:</label>
                    <select id="modeParam" class="form-control selectpicker">
                      <option>Día</option>
                      <option>Mes</option>
                      <option>Año</option>
                    </select>
                  </div>
                  <div class="form-group form-stats col-md-3">
                    <label for="attribute">Tipo de dato:</label>
                    <select id="attributeParam" class="form-control selectpicker">
                      <option>Temperatura del aire</option>
                      <option>Temperatura del suelo</option>
                      <option>Humedad del aire</option>
                      <option>Humedad del suelo</option>
                      <option>Luz</option>
                    </select>
                  </div>
                </div>
              </div>
              <button class="btn btn-default" id="update-data">Actualizar</button>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <% @terminals.each do |terminal, index| %>
            <div class="panel panel-data">
              <div class="panel-heading">
                <h3>Para el terminal <b><%= terminal.name %></b></h3>
              </div>
              <div class="panel-body">
                <div class="row">
              <div class="col-md-12">
                Gráfica: <span></span>
                <div class="canvasContainer" id="<%=terminal.id.to_s %>">
                  <canvas id="canvas<%= terminal.id.to_s %>" class="canvas"></canvas>
                </div>
              </div>
              </div>
            </div>
          </div>
            <% end %>
          </div>
      </div>
    <i class="icon flaticon-right226" id="menu-toggle"></i>
  </div>
</div>
<%= javascript_include_tag "compiled/statistics", "data-turbolinks-track" => true %>
