<!DOCTYPE html>
<html>
<head>
  <title>Domofera - Aviso Legal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag "compiled/style", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "compiled/script", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'official/logo.png', :type => 'image/png', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-content">
    <header id="top" class="header">
      <a href="/" class="orange login">Inicio</a>
      <div class="text-vertical-center">
        <img src="assets/official/logo.png" alt="Logo Domofera"/>
        <h1 class="main-title"><span class="domo">Domo</span><span class="fera">fera</span></h1>
        <h3 class="main-title">La APP de los agricultores Urbanos</h3>
        <%= render :partial => "shared/flash_messages.html.erb" %>
        <div class="legal-content">
          <h1>Aspectos Legales</h1>
          <ul>
            <li><a href="#legal">Aviso Legal</a></li>
            <li><a href="#cookies">Política de Cookies</a></li>
            <li><a href="#privacy">Política de Privacidad</a></li>
            <li><a href="#terms-conditions">Términos y Condiciones</a></li>
          </ul>
          <h2 id="legal">Aviso Legal</h2>
          <h3>Titularidad del sitio</h3>
          <h5>Domofera es un proyecto universitario y abierto, realizado por alumnos de la
            Universidad de Alicante de la titulación Grado en Ingeniería Multimedia. Se trata
            de un proyecto estudiantil para aprender y mejorar nuestras habilidades como
            desarrolladores, programadores y diseñadores, así como de gestión de proyectos
            en grupo.</h5>

            <h3>Aceptación del Usuario</h3>
            <h5>El uso de la web le otorga la condición de usuario del mismo
              (en adelante, el “Usuario”), e implica la aceptación plena y sin reservas de todas
              y cada una de las disposiciones incluidas en este Aviso Legal, en la versión publicada
              por la “web”, en el momento mismo en que el Usuario acceda a la misma. Como consecuencia,
              es deber del Usuario leer detenidamente el presente aviso legal cada vez que utilice
              la Web, debido a que esta puede sufrir modificaciones.</h5>

              <h3>Responsabilidad del Usuario</h3>
              <h5>El usuario se compromete a utilizar el sitio web, así como sus servicios y contenidos
                sin contravenir la legislación vigente, la buena fe, los usos generalmente aceptados y el
                orden público. Queda prohibido el uso del sitio web con fines ilícitos o lesivos contra
                Domofera o terceros, o que pudieran causar perjuicio o impedir el normal funcionamiento de
                la web. Tanto el acceso a la web como el uso que pueda realizarse de la información y
                contenidos incluidos el mismo, será de exclusiva responsabilidad de quien lo realice.
                Domofera se reserva el derecho a denegar en cualquier momento y sin necesidad de aviso previo,
                el acceso a la web a aquellos usuarios que incumplan este aviso legal.</h5>

                <h3>Reserva de derechos</h3>
                <h5>Domofera podrá, cuando lo considere conveniente, realizar correcciones, mejoras o modificaciones
                  en la estructura, diseño web así como cualquier información contenida en la página, modificar
                  o eliminar productos, las condiciones de acceso o incluso de uso de la web de forma unilateral y
                  sin previo aviso sin que ello de lugar, ni derecho a ninguna reclamación o indemnización, ni implique
                  reconocimiento de responsabilidad alguna. Domofera se reserva el derecho para interrumpir, suspender
                  o terminar la prestación del servicio del sitio web o de cualquiera de los servicios que lo integran.

                  Domofera no otorga ninguna garantía ni se hace responsable por los daños y perjuicios de cualquier
                  naturaleza que se pudiera derivar de:
                  <ul>
                    <li>la falta de disponibilidad y continuidad técnica  o del funcionamiento de la página.</li>
                    <li>la existencia de virus, programas maliciosos o lesivos en los contenidos</li>
                    <li>la falta de utilidad, adecuación o validez de la web, servicios, contenidos
                      con el objeto de responder a las necesidades, actividades o expectativas de los usuarios.</li>
                      <li>el uso negligente o ilícito de la web en general que no respeten las normas definidas en el
                        presente aviso legal, a la buena fe, orden público.</li>
                      </ul>
                      Domofera se compromete a respetar la veracidad de los datos. Con respecto a la
                      existencia de errores o imprecisiones en el Sitio Web y debido a que los
                      contenidos han sido redactados de acuerdo a la buena fe y serán subsanados por
                      Domofera a la mayor brevedad posible y tan pronto como tenga conocimiento de ello.</h5>

                      <h3>Política de enlaces</h3>
                      <h5>La Web puede incluir “links” o enlaces de texto o gráficos hacia otras páginas web y contenidos
                        ubicados fuera de http://www.domofera.com.

                        Debido a que son completamente ajenos a Domofera, ésta no se responsabiliza en ningún caso de
                        las mencionadas páginas web, de sus contenidos ni de las consecuencias que pueda acarrear
                        al Usuario el acceso a dichos enlaces.

                        Asimismo, Domofera sólo autoriza a terceras personas interesadas a que establezcan
                        “links” desde sus páginas web siempre y cuando cumplan con las obligaciones
                        establecidas en el presente Aviso Legal.

                        Particularmente el “link” ha de posibilitar que la web se muestre en su totalidad
                        dentro de la pantalla del navegador sin que los contenidos se muestren a través
                        de marcos o “frames”.  No obstante lo anterior, Domofera se reserva el derecho
                        a exigir a dichas terceras personas que retiren inmediatamente los “links” hacia
                        el Sitio Web cuando así lo estime conveniente.

                        El establecimiento de un “link” no implicará en ningún caso la existencia de
                        relaciones entre el tercero que incluye el mismo y Domofera, ni el conocimiento
                        y aceptación por parte de Domofera, de los servicios y contenidos ofrecidos en
                        dicha página web.
                        Domofera no asume ningún tipo de responsabilidad, por los daños y
                        perjuicios de toda clase que pudieran derivarse del acceso, mantenimiento,
                        uso, calidad, licitud, fiabilidad, contenidos, informaciones, comunicaciones,
                        opiniones, productos etc., ofrecidos en las webs que no están gestionadas por
                        Domofera</h5>

                        <h3>Redes Sociales</h3>
                        <h5>La presente web utilizará, Redes sociales y comunidades virtuales que se utilizarán
                          como medios de comunicación y promoción de los productos y servicios de Domofera.
                          Las redes sociales y comunidades virtuales de las que hace uso son las siguientes:
                          Facebook, Twitter, Google + y Youtube,  sin perjuicio de que pueda utilizar
                          otras en un futuro. Los objetivos específicos a través de los cuales se usan dichos
                          medios son el apoyo mediático y difusión de los servicios de Domofera.
                          Con respecto a la información de los contenidos de las redes sociales Domofera
                          no se hace responsable en ningún caso de la veracidad, exactitud, adecuación, idoneidad,
                          y actualización de la información suministrada a través de las mismas.
                          Los contenidos establecidos en las redes sociales son exclusivamente  informativos,
                          por lo que no se responsabiliza de las decisiones tomadas por el Usuario a partir
                          de las mismas, ni de los daños y perjuicios producidos en el Usuario o en terceros
                          con base en esta información.

                          Domofera procurará fomentar la calidad de las informaciones a través de la
                          subsanación de errores en datos recibidos, así como, en la administración de los
                          sitios, y posibilitará que terceros usuarios puedan reportar denuncias sobre
                          comentarios ofensivos e improcedentes que no tengan que ver con los temas tratados,
                          fotos publicadas o vídeos igualmente no relacionados con los temas a los que se
                          destina las anteriores Redes sociales y Comunidades.

                          En estos casos, Domofera como administrador de las redes, tendrá la potestad
                          de borrar toda información que no se ajuste a la calidad, objeto y buen servicio
                          informativo y lúdico de las redes sociales. No obstante, pese a la intención de
                          procurar la máxima calidad de contenidos,  no se hará responsable de las
                          informaciones referidas.

                          Se informa que el acceso a las redes  sociales y comunidades de los que la web
                          hace uso para los objetivos anteriormente descritos, requiere de un servicio/suministro
                          por parte de otros prestadores de servicios de la sociedad de la información.
                          Domofera no puede en ningún momento responsabilizarse de la  fiabilidad, calidad,
                          continuidad y funcionamiento de las mismas, y por tanto no puede impedir su suspenso,
                          cancelación o inaccesibilidad por causas ajenas a Domofera.

                          Domofera no se responsabilizará de los daños o perjuicios que sufra el Usuario
                          por motivos que provengan de fallos o desconexiones en las redes sociales,
                          y que puedan producir pérdidas de información, suspensiones, cancelaciones o
                          interrupciones del servicio  durante la prestación del mismo o con carácter previo.
                          Las redes sociales y las comunidades pueden permitir el acceso a enlaces y
                          otras páginas web. Atendiendo a la Ley 34/2002, de 11 de julio, de servicios
                          de la sociedad de la información y de comercio electrónico, Domofera actúa
                          como prestador de servicios de intermediación, por lo que sólo será responsable
                          de los contenidos y servicios suministrados en los Sitios Enlazados, en la medida
                          en que tenga conocimiento efectivo de su ilicitud y no haya actuado con la
                          diligencia debida para retirarlos. Si  el usuario considera que alguno de los
                          Sitios Enlazados incluye contenidos ilícitos o inadecuados, podrá comunicárselo a
                          Domofera mediante el mail establecido al principio del presente aviso legal,
                          procediendo diligentemente a retirar dichos enlaces. Domofera en ningún caso
                          se hace responsable de los contenidos y servicios ofrecidos en los Sitios Enlazados,
                          por lo que no responde de los daños producidos por su ilicitud, calidad, desactualización,
                          indisponibilidad, error o inutilidad</h5>

                          <h2 id="cookies">Política de Cookies</h2>
                          <h3>Datos recogidos por Domofera</h3>
                          <h5>Domofera sólo recoge el nombre de usuario, el correo electrónico, la ciudad y
                            el país del usuario. El email será utilizado únicamente para validaciones de contraseña
                            y modificación de datos de usuario. No se le incluirá en listas de correo a no ser que el
                            usuario así lo confirme.</h5>
                      <h5>
                      </h5>
                      <h2 id="terms-conditions">Términos y Condiciones</h2>
                      <h5>
                        En la presente sección se establece la contratación de los productos y servicios a través
                        del sitio http://www.domofera.com/.
                        Mediante la aceptación del presente contrato, el usuario acepta lo siguiente:
                        1.- Que es una persona con capacidad suficiente para contratar.
                        2.- Que ha leído, entiende y acepta las presentes condiciones generales.
                        3.- Que asume todas las obligaciones establecidas.
                        Las presentes condiciones tendrán un periodo de validez indefinido y serán aplicables
                        a todas las contrataciones realizadas a través de la web de http://www.domofera.com/.
                        Domofera se reserva el derecho de modificar la oferta contractual, constituida por
                        las presentes condiciones generales en cualquier momento,
                        si bien dichas modificaciones no se efectuarán con las contrataciones ya realizadas por
                        el usuario previamente.
                      </h5>
                      <h3>Objeto del contrato y servicios ofrecidos</h3>
                      <h5>
                      El objeto del presente es propiciar la agricultura urbana y facilitar dicha actividad
                      a través de unos dispositivos que registran datos atmosféricos, de humedad y temperatura
                      entre otros, y se los ofrece de forma ordenada al usuario para que sepa el estado
                      actual en el que se encuentra su huerto.

                      El usuario podrá consultar el estado de su huerto urbano en tiempo real, así como
                      obtener estadísticas de los mismos.
                    </h5>
                    <h3>Condiciones de acceso y uso de la plataforma</h3>
                    <h5>
                    Domofera proporciona una plataforma online para que el usuario pueda consultar los datos
                    de su huerto de manera remota.

                    Domofera en ningún caso se responsabiliza de la incorrecta recepción de los datos
                    derivada de problemas que no se pueden controlar como conexiones con Internet,
                    problemas atmosféricos o el uso incorrecto de los dispositivos o de la web por
                    parte del usuario.

                    No obstante, el usuario podrá informar a Domofera, a través de los distintos
                    métodos de contacto, de las irregularidades que pueda sufrir y, en base a dicha
                    solicitud, se procederá si se considera necesario.
                  </h5>
        </div>
      </div>
    </header>
  </footer>
</div>
<%= render :partial => "shared/footer.html.erb" %>
</body>
</html>
