<!DOCTYPE html>
<html>
<head>
  <title>Domofera - Home</title>
  <%= stylesheet_link_tag "compiled/style", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "compiled/script", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'official/logo.png', :type => 'image/png', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-content">
<header id="top" class="header">
  <a href="/" class="orange login">Inicio</a>
    <div class="text-vertical-center">
      <img src="assets/official/logo.png" alt="Logo Domofera"/>
        <h1 class="main-title">Domofera</h1>
        <h3 class="main-title">La APP de los agricultores Urbanos</h3>
        <%= render :partial => "shared/flash_messages.html.erb" %>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
           <%= form_tag sessions_path, :class => 'simple-form', :remote => false  do |f| %>
             <%= text_field_tag 'username', nil, placeholder: 'Nombre de usuario', :class => 'simple-input'%>
             <%= text_field_tag 'email', nil, placeholder: 'Email', :class => 'simple-input' %>
             <%= password_field_tag 'password', nil, placeholder: 'Contraseña', :class => 'simple-input' %>
             <p>Al iniciar sesión aceptas nuestra <a href="/legal">Política de Privacidad</a></p>
             <%= submit_tag "Iniciar Sesión", :class => 'simple-submit' %>
           <% end %>
            <h4>¿Aún no tienes una cuenta? Entonces <%= link_to "regístrate", new_user_path,:remote => false %></h4>
          </div>
        </div>
    </div>
    </header>
    <%= render :partial => "shared/footer.html.erb" %>
</div>
</body>
</html>
