<div class="col-md-4">
    <%= form_for @terminal, inline_errors: false, :class => 'simple-form' do |f| %>
      <%= f.text_field :name, :class => 'simple-input', :placeholder => 'Nombre del Terminal' %>
      <%= f.text_field :description, :class => 'simple-input', :placeholder => 'Descripción'  %>
      <%= f.password_field :password, :class => 'simple-input', :placeholder => 'Código'   %>
      <%= f.submit "Crear terminal", :class => 'simple-submit' %>
    <% end %>
</div>
