  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h2>Terminales</h2>
      <button id="new-terminal" class="btn btn-default">Nuevo Terminal</button>
      <div class="row">
        <div class="col-md-12" id="new-terminal-form">
          <%= render "form_new_terminal" %>
        </div>
      </div>
      <br>
      <div class="row">
        <% @terminals.each_with_index do |terminal, index| %>
        <%= form_for terminal, inline_errors: false, :class => 'simple-form' do |f| %>
          <div class="col-lg-6">
            <div class="panel panel-data centered">
              <div class="panel-heading">
                <i class="icon flaticon-wifi20"></i>
                <%= f.text_field :name, :class => 'form-control', :value => terminal.name  %>
              </div>
              <div class="panel-body terminals">
                <label>Descripcion:</label>
                <h5><%= f.text_field :description, :class => 'form-control', :value => terminal.description %></h5>
                <label>Código</label>
                <h5><%= f.text_field :password, :class => 'form-control', :value => terminal.password  %></h5>
                <label>Nombre red wifi:</label>
                <h5><%= f.text_field :wifi_name, :class => 'form-control', :value => terminal.wifi_name %></h5>
                <label>Contraseña red wifi:</label>
                <h5><%= f.text_field :wifi_password, :class => 'form-control', :value => terminal.wifi_password %></h5>
                <%= f.submit "Actualizar terminal", :class => 'btn btn-success' %>
              </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
        <i class="icon flaticon-right226" id="menu-toggle"></i>
    </div>
  </div>
</div>
