<!DOCTYPE html>
<html>
<head>
  <title>Domofera - Dashboard</title>
  <link rel="stylesheet" href="assets/style.css">
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>" id="page-body">
<%= render "shared/flash_messages" %>
<div class="top-menu">
<div id="page-content">
  <%= yield %>
</div>
</body>
</html>
